
          <nav class="container-fluid navbar navbar-expand-lg navbar-dark socket ps-3">
            <!--offcanvas trigger-->
            <button class="navbar-toggler" type="button" data-bs-target="#offcanvasExample" data-bs-toggle="offcanvas" aria-controls="offcanvasExample">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--offcanvas end-->
              <a class="navbar-brand fs-3 fw-bolder" href="/dashboard">Medicament</a>
              <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                  <div class="dropdown d-flex ms-auto my-3 my-lg-0">
                    <button class="btn btn-transparent text-white dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                      <li><a class="dropdown-item active" href="/logout">Logout</a></li>
                    </ul>
                  </div>
                
            </div>
          </nav>
  
    <!---->

 
      
      <div class="offcanvas offcanvas-start sidebar-nav socket text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        
        <div class="offcanvas-body p-0">
          
          <nav class="navbar-dark mt-3">
            <ul class="list-unstyled">

              <li class="nav-item">
              <div class="text-white small fw-bold text-uppercase px-3">
                Menu
              </div>
            </li>
            <li class="nav-item">
              <a href="/dashboard" class="nav-link px-3 active">
                <span class="me-2 text-white">
                  <i class="fas fa-chart-line"></i>
                </span>
                <span class="text-light text-capitalize">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/inventory" class="nav-link px-3">
                <span class="me-2 text-white">
                  <i class="fas fa-boxes"></i>
                </span>
                <span class="text-light text-capitalize">Inventory</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sales" class="nav-link px-3">
                <span class="me-2 text-white">
                  <i class="fas fa-capsules"></i>
                </span>
                <span class="text-light text-capitalize">sales</span>
              </a>
            </li>

            <li class="nav-item">
              <a href="/medlist" class="nav-link px-3">
                <span class="me-2 text-white">
                  <i class="fas fa-list"></i>
                </span>
                <span class="text-light text-capitalize">medicine list</span>
              </a>
            </li>
            </ul>
            


          </nav>
        </div>
      </div>