<br><br><br><br>    
    <footer>
      
        <div class="container text-capitalize">
          <div class="row text-center py-5 justify-content-center text-light">
          
            <div class="col-lg-10 col-md-8 col-sm-6">
              <h1 class="display-4">Medicament</h1>
              <p>Your personalized Medical inventory management system.</p>
            </div>
        </div>
        
      </footer>
  
      <div class="socket text-center text-light py-3 text-capitalize">
        <p>&copy; all rights are reserved </p>
  
      </div>