    <div class="box">
        
        <header class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand fs-3 fw-bolder" href="/">Medicament</a>
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 w-100 d-flex justify-content-end">
                    <li class="nav-item ml-0">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ml-0">
                      <a class="nav-link text-capitalize active" href="/login">login</a>
                    </li>
                    
                    <li class="nav-item ml-0">
                      <a class="nav-link active" href="/signup">Signup</a>
                    </li>
                  </ul>
  
              </div>
            </nav>
        </header> 


        <div class="container">

            <div class="row my-5 d-flex justify-content-center">
                
            <div class="col-lg-7 col-md-6 col-sm-12 container px-5">
                <div class="container d-flex align-items-center justify-content-center h-100">
                    <h1 class="text-white display-3"> Your personalized Medical inventory management system.</h1>
                </div>
            </div>
            
            <div class="col-lg-5 col-md-6 col-sm-12 d-flex justify-content-center p-5">
                <div class="col-8">
                    
                <img src="./img/vitamins-g7da4a59aa_640.png" alt="" class="w-100">
                </div>
            </div>
            </div>
        </div>
    </div>
