<div class="socket">

        <nav class="container navbar navbar-expand-lg navbar-dark ps-3">
       
            <a class="navbar-brand fs-3 fw-bolder" href="/">Medicament</a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 w-100 d-flex justify-content-end">
                      <li class="nav-item ml-0">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item ml-0">
                        <a class="nav-link text-capitalize active" href="/login">login</a>
                      </li>
                      
                      <li class="nav-item ml-0">
                        <a class="nav-link active" href="/signup">Signup</a>
                      </li>
                    </ul>
              
          </div>
        </nav>
    </div>
    