<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Medicament</title>
    
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
{{>header}}
    <br>
    <br>
    <main class="my-5">

      <div>
        <h1 class="text-center my-5 text-color">Features</h1>

      </div>
      <div class="container card-group">

        <div class="card text-white card-color mb-3" >
          
          <div class="card-body">
            <h5 class="card-title fw-bold text-color">Automate Manual Task</h5>
            <p class="card-text pb-5">Automate your day to day medical inventory task.</p>
          </div>
        </div>

        <div class="card text-white card-color mb-3">
          
          <div class="card-body">
            <h5 class="card-title fw-bold text-color">Data-Driven Decision</h5>
            <p class="card-text pb-5">You can track your real time medical stock pile available in your store.</p>
          </div>
        </div>

        <div class="card text-white card-color mb-3">
          
          <div class="card-body">
            <h5 class="card-title fw-bold text-color">Easy to use</h5>
            <p class="card-text pb-5">The dashboard is user-friendly and it require basic computer knowledge to operate.</p>
          </div>
        </div>


      </div>
    </main>
    {{>footer}}
    
    {{>somescript}}

</body>
</html>